<?xml version="1.0" encoding="UTF-8" standalone="no"?><entities>
	<entity>
		<entity-name>com.mtjwy.website.entity.Article</entity-name>
		<entity-width>120</entity-width>
		<entity-height>206</entity-height>
		<entity-X-Coordinate>477</entity-X-Coordinate>
		<entity-Y-Coordinate>207</entity-Y-Coordinate>
		<primary-collapsed>false</primary-collapsed>
		<relation-collapsed>false</relation-collapsed>
		<basic-collapsed>false</basic-collapsed>
	</entity>

	<entity>
		<entity-name>com.mtjwy.website.entity.ArticleCategory</entity-name>
		<entity-width>120</entity-width>
		<entity-height>166</entity-height>
		<entity-X-Coordinate>260</entity-X-Coordinate>
		<entity-Y-Coordinate>217</entity-Y-Coordinate>
		<primary-collapsed>false</primary-collapsed>
		<relation-collapsed>false</relation-collapsed>
		<basic-collapsed>false</basic-collapsed>
	</entity>

	<entity>
		<entity-name>com.mtjwy.website.entity.Role</entity-name>
		<entity-width>120</entity-width>
		<entity-height>146</entity-height>
		<entity-X-Coordinate>387</entity-X-Coordinate>
		<entity-Y-Coordinate>25</entity-Y-Coordinate>
		<primary-collapsed>false</primary-collapsed>
		<relation-collapsed>false</relation-collapsed>
		<basic-collapsed>false</basic-collapsed>
	</entity>

	<entity>
		<entity-name>com.mtjwy.website.entity.WebUser</entity-name>
		<entity-width>120</entity-width>
		<entity-height>186</entity-height>
		<entity-X-Coordinate>70</entity-X-Coordinate>
		<entity-Y-Coordinate>38</entity-Y-Coordinate>
		<primary-collapsed>false</primary-collapsed>
		<relation-collapsed>false</relation-collapsed>
		<basic-collapsed>false</basic-collapsed>
	</entity>
</entities>